<h2>{{item.title}}</h2>
<section>
    <article class="item">
            <img src={{item.image}} />
            <br />
            <h3>ITEM:</h3>
            {{!-- restaurant.Menus because from the sequelize query --}}
              
              <div>
                <li> {{item.title}}</li>
                <br>
                <li>{{item.price}}</li>
                <br>
                <li> {{item.description}}</li>
                <br>
                <li>{{item.category}}</li>
                <br>
                
            </div>
            <div>
            <br><br>
            </div>
                
                    
                       
                    
                 
    </article>
</section> 