{{!-- <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
            <i class="fas fa-arrow-up">Top</i>
</button> --}}
<br />
<h2>{{item.title}}</h2>
<section>
    <article class="item">
            <img src={{item.image}} />
            <br />
            <h3>ITEM:</h3>
              
              <div>
                <li> {{item.title}}</li>
                <br>
                <li>{{item.price}}</li>
                <br>
                <li> {{item.description}}</li>
                <br>
                <li>{{item.category}}</li>
                <br>
                
            </div>
            <div>
            <br><br>
            </div>
    </article>
</section>
<script src="script.js"></script> 